@font-face {
  font-family: 'Beaufort';
  src: url('./fonts/Beaufort/BeaufortforLOL-Bold.otf');
}

@font-face {
  font-family: 'Beaufort-italic';
  src: url('./fonts/Beaufort/BeaufortforLOL-Italic.otf');
}

body{
  color: rgba(255, 255, 255, 0.87);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


.navbar{
  background-color: #091A29;
  display: flex;
  border-bottom: 1px solid #C8AA6E;
  z-index: 999 !important;
}

.navbar-logo-container{
  padding: 1em;
  display: flex;
  align-items: center;
}

.title{
  display: inline;
  margin-left: .25em;
  color: #C8AA6E;
}

.navbar-item-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80% !important;
}

.navbar-item{
  text-decoration: none;
  margin-top: 24px;
  font-size: 1.1em;
  color:#C8AA6E
}

.navbar-item:hover{
  color: #005A82;
}

.footer{
  background-color: #091A29;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1em;
  border-top: 1px solid #C8AA6E;
}

.MuiPaper-root{
 margin: 0 !important;
}




.champ-container{
  padding-left: 4em;
  padding-top: 4em;
}

.champion-card::after{
  content: "";
  position: absolute;
  top: 6px;
  right: 5px;
  width: 15%;
  padding-top: 8%;
  background-color: #010A13;
  transition: transform 0.5s ease 0s;
  transform: translate(50%, -50%) rotate(45deg);  
  opacity: 0;
}

.subtitle{
  font-family: 'Beaufort-italic' !important;
  font-weight: 600 !important;
  font-size: 1.2em !important;
  transition: transform .7s
}

.image-container{
  padding-top: 1em;
  transform: scale(1.15);
  transition: transform .5s;
  border: 1px solid #010A13 ;

}

.champion-card:hover .champion-card::after {
  opacity: 1;
}

.champion-card:hover .image-container{
  transform: scale(1.05);
}

.champion-card:hover .subtitle{
  transform: translateX(8%);
}







/* .plate-name{
  font-family: 'Beaufort', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  position: relative;
  top: 4%;
  height: 100px;
  background-color: #091A29;
  z-index: 1;
} */

.champion-container{
  position: relative;
  width: 80vw;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}

.champion-title-container{
  position: relative;
  display: inline-block;
  width: 100%;
  bottom: 6em;
  z-index: 1;
 
}

.champion-image-container{
   position: relative;
    display: inline-block;
}
.champion-image-container::after{
    content: "";
    position: absolute;
    height: 90%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(10, 20, 40, 0.071) 20%, #010A13 80%);
    pointer-events: none;}

.champion-title{
  font-size: 2.5em;
  font-family: 'Beaufort', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

.champion-tag{
  font-size: 1.7em;
  font-family: 'Beaufort', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

#champ-grid .MuiGrid-root{
width: 30% !important;
}

@keyframes subtitleAnimation {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(8%);
    opacity: 1;
  }
}
